<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="@Assets["VartFanSkaViLuncha.Web.styles.css"]" rel="stylesheet">
    <HeadOutlet />
</head>

<body>
    <Routes />
</body>

</html>
